files

# Shared common repo
.gitmodules
common

# Configs - remove out to Ansible inventories
.env*

# Put in ansible playbook
local-frontend

# Issues with EOF piping this over ssh..?
run-hot
*run-hot
run
*run